<div class="text_center">
<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>

  <div class="footer">
      <%= link_to 'Edit List Title', edit_list_path(@list) %>
    <!--|
      <%= link_to 'Back to Lists', lists_path %>-->
  </div>
</div>