<div class="row">
  <div class="small-8 small-centered columns">

    <h1 class="login">Almost done! Please complete your profile.</h1>

  </div>
</div>

<div class="row">

<%= render 'form' %>

</div>