<div class="row">
  <div class="small-6 small-centered columns">

    <h1 class="login">Almost done!</h1><h2 class="login">Complete your <%= site_name %> profile.</h2>

  </div>
</div>

<div class="row">
  <div class="small-6 small-centered columns">

	<%= render 'form' %>

	</div>
</div>