<h1><%= @list ? @list.title : "All Tasks" %></h1>
<%#--How else can we use controller to access just tasks per list id? %>

<form>
<% @tasks.each do |task| %> <%# look at DOM ID to ID each task, call params[:complete] %>
  <div><input value="<%= task.title %>"  name="complete[]" type="checkbox"><%= task.title %></div>
<% end %>
</form>


<%= link_to 'Add New Task', new_list_task_path(:list_id) %>
