

<h1 class="page_title"><%= @task.title %></h1>
<h3><%#<%= !!!!!!!!!if @task.due_date then "Due: #{@task.due_date}" end %>%></h3>
<div class="text_center">
  <p><%= @task.description %></p>
</div>


