<h1>Listing Users</h1>

<table class="usertable">
  <thead>
    <tr>
      <th class="tusername">Name</th>
      <th class="tuseremail">Email</th>
      <th class="tuserjoin">Joined</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.order(name: :asc).each do |user| %>
    <tr>
      <td class="tusername"><%= user.name %></td>
      <td class="tuseremail"><%= user.email %></td>
      <td class="tuserjoin"><%= user.created_at %></td>
      <td><%= link_to 'Show', user %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
