<title>Sign up for <%= site_name %></title>

<div class="row">
	<div class="small-6 small-centered columns">

  <h1 class="login">Welcome!</h1> <h2 class="login">Joining <%= site_name %> is easy.</h2>

	</div>
</div>

<div class="row">

  <%= render 'form' %>

</div>