<p id="notice"><%= notice %></p>

<div class="text_center">
  <p>Thanks for signing up!</p>
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
</div>

<!--<p>
  <strong>Password digest:</strong>
  <#= @user.password_digest %>


<#= link_to 'Edit', edit_user_path(@user) %> |
<#= link_to 'Back', users_path %>-->
