
    <div id="follow_form">
      <% user = displayed_user if user == nil %>
      <% if current_user.following?(user) %>
          <%= render 'shared/unfollow', :user => user %>
      <% else %>
          <%= render 'shared/follow', :user => user %>
      <% end %>
    </div>
