<h1 class="logo"><span class="b">B</span>
<span class="l1">L</span>
<span class="o1">O</span>
<span class="o2">O</span>
<span class="g">G</span>
<span class="l2">L</span>
<span class="e">E</span>
<span class="plus"> + </span></h1>
<!-- <div class="about">
	Bloogle+ is a place to blog about connections with family, friends and all of your explored interests.
</div> -->
