<h1>Homepage</h1>

<h3>Recent Posts</h3>

<formhome>
  <fhead>
    <div class="posttitle">Title</div>
    <div class="published">Date Published</div>
    <div class="author">Author</div>
  </fhead>
  <fcontent>
    <% @posts.order(published_date: :asc).each do |post| %>
    <div class="ftitle"><%= link_to post.title, post_path(post)%></div>
    <div class="fpub"><%= post.published_date %></div>
    <div class="fauthor"><%= link_to post.user, post.user%></div>
    <div class="fbody"><%= post.content %></div>
    <% end %>
  </fcontent>
</formhome>
