<div class="row">
  <h4 class="large-12 columns">New post</h4>
    <%= render 'form' %>
<!-- <div class="large-6 columns"> -->

    <%= link_to 'Back', posts_path, :class => 'small_label' %>
</div>
</div>
