/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

/*color ideers:

#4b4c46 (black - text on white bottom nav?)
#F56906 (orange background)
#fefff8 (off-white text for orange background part; and background color for footer)

fonts:
"PTSansRegular-custom","Helvetica Neue",Helvetica,Arial,sans-serif;


text-shadow: 1px 1px 1px #c06960,
1px 1px 1px #000;
*/

body {
  background-color: #d55f05;
  font-family: Helvetica Neue;
}

.page_title {
  font-size: 55px;
  font-color: #fefff8;
  text-align: center;
  color: #fefff8;
  text-shadow: 1px 1px 1px #c06960,
  1px 1px 1px #000;

}

h1 {
  font-family: Helvetica Neue;
  text-align: center;
  font-color: #fefff8;
}

table, td, th {
  border: 0px;
  background-color: #fbd2af;
  font-family: Helvetica Neue;
  text-align: center;
  color: #93b1c6;
  margin-left:auto;
  margin-right:auto;
}

.text_center {
  text-align: center;
}

th {
  background-color: #f9a160;
  text-align: right;
  font-size: 17px;
  border: 0px;
}

td {
  text-align: right;
}

.footer {
  text-align: center;
}
