/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
 *= require foundation_and_overrides

*/
@font-face {
  font-family: 'coolveticaregular';
  src: url('coolvetica_rg.eot');
  src: url('coolvetica_rg.eot?#iefix') format('embedded-opentype'),
  url('coolvetica_rg.woff2') format('woff2'),
  url('coolvetica_rg.woff') format('woff'),
  url('coolvetica_rg.ttf') format('truetype'),
  url('coolvetica_rg.svg#coolveticaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'franchiseregular';
  src: url('franchise-bold-hinted.eot');
  src: url('franchise-bold-hinted.eot?#iefix') format('embedded-opentype'),
  url('franchise-bold-hinted.woff2') format('woff2'),
  url('franchise-bold-hinted.woff') format('woff'),
  url('franchise-bold-hinted.ttf') format('truetype'),
  url('franchise-bold-hinted.svg#franchiseregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'homestead_displaydisplay';
  src: url('homestead-display-webfont.eot');
  src: url('homestead-display-webfont.eot?#iefix') format('embedded-opentype'),
  url('homestead-display-webfont.woff2') format('woff2'),
  url('homestead-display-webfont.woff') format('woff'),
  url('homestead-display-webfont.ttf') format('truetype'),
  url('homestead-display-webfont.svg#homestead_displaydisplay') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'bebas_neueregular';
    src: url('bebasneue-webfont.eot');
    src: url('bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebasneue-webfont.woff2') format('woff2'),
         url('bebasneue-webfont.woff') format('woff'),
         url('bebasneue-webfont.ttf') format('truetype'),
         url('bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cf_crayonsregular';
    src: url('cfcrayons-regular-webfont.eot');
    src: url('cfcrayons-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('cfcrayons-regular-webfont.woff2') format('woff2'),
         url('cfcrayons-regular-webfont.woff') format('woff'),
         url('cfcrayons-regular-webfont.ttf') format('truetype'),
         url('cfcrayons-regular-webfont.svg#cf_crayonsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tesbold';
    src: url('tes_bold-.eot');
    src: url('tes_bold-.eot?#iefix') format('embedded-opentype'),
         url('tes_bold-.woff2') format('woff2'),
         url('tes_bold-.woff') format('woff'),
         url('tes_bold-.ttf') format('truetype'),
         url('tes_bold-.svg#tesbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
  background : url("http://i.imgur.com/1lPoAD0.png");
  line-height: 1.5;
  text-align: center;
}
 h4 {
  color: #b34d03;
  font-family: 'tesbold';
  font-size: 100px;
  /*margin-top: 100px;*/
  padding-top: 50px;
  /*margin-left: 50px;*/
  /*height: 100px;*/
  text-shadow: 2px -2px 1px #d5d5d5;
  letter-spacing: -1px;
}
h4 .title {
height: 120px;
}

.first_sub {
  color: #6064b2;
  margin-top: 0px;
  font-size: 20px;
  letter-spacing: 5px;
  font-family: 'bebas_neueregular';
  margin-bottom: 10px;
}
.link {
  text-decoration: none;
  color: white ;
}
table {
  margin: 0 auto;
}
th {
  font-family: Arial;
  font-size: 14px !important;
  color: white !important;
  text-align: center !important;
}
td {
  background-color: #e9e7e2;
  color: #6064b2 !important;
  font-family: Arial;
  letter-spacing: 2px;
  text-align: center;
}
::selection {
  background:#f094b7;
  color:#555;
}
.sub {
font-family: 'cf_crayonsregular', sans-serif;
  font-size: 27px;
  color: white;
  opacity: .2;
  margin-top: 5px;
  -webkit-transform: rotate(-2deg);
  position: relative;
  margin-bottom: 40px;
}
table {
margin-top: 40px;
}
.headings h1 {
  margin-bottom: 40px;
}
.row h1{
margin-bottom: 40px;
}
.small_label {
color: white !important;
}
.post_display {
padding-top: 50px;
}
