/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
require foundation_and_overrides
*/
/*= require foundation */

@font-face {
  font-family: 'coolveticaregular';
  src: url('coolvetica_rg.eot');
  src: url('coolvetica_rg.eot?#iefix') format('embedded-opentype'),
  url('coolvetica_rg.woff2') format('woff2'),
  url('coolvetica_rg.woff') format('woff'),
  url('coolvetica_rg.ttf') format('truetype'),
  url('coolvetica_rg.svg#coolveticaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'franchiseregular';
  src: url('franchise-bold-hinted.eot');
  src: url('franchise-bold-hinted.eot?#iefix') format('embedded-opentype'),
  url('franchise-bold-hinted.woff2') format('woff2'),
  url('franchise-bold-hinted.woff') format('woff'),
  url('franchise-bold-hinted.ttf') format('truetype'),
  url('franchise-bold-hinted.svg#franchiseregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'homestead_displaydisplay';
  src: url('homestead-display-webfont.eot');
  src: url('homestead-display-webfont.eot?#iefix') format('embedded-opentype'),
  url('homestead-display-webfont.woff2') format('woff2'),
  url('homestead-display-webfont.woff') format('woff'),
  url('homestead-display-webfont.ttf') format('truetype'),
  url('homestead-display-webfont.svg#homestead_displaydisplay') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bebas_neueregular';
  src: url('bebasneue-webfont.eot');
  src: url('bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
  url('bebasneue-webfont.woff2') format('woff2'),
  url('bebasneue-webfont.woff') format('woff'),
  url('bebasneue-webfont.ttf') format('truetype'),
  url('bebasneue-webfont.svg#bebas_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cf_crayonsregular';
  src: url('cfcrayons-regular-webfont.eot');
  src: url('cfcrayons-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('cfcrayons-regular-webfont.woff2') format('woff2'),
  url('cfcrayons-regular-webfont.woff') format('woff'),
  url('cfcrayons-regular-webfont.ttf') format('truetype'),
  url('cfcrayons-regular-webfont.svg#cf_crayonsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'tesbold';
  src: url('tes_bold-.eot');
  src: url('tes_bold-.eot?#iefix') format('embedded-opentype'),
  url('tes_bold-.woff2') format('woff2'),
  url('tes_bold-.woff') format('woff'),
  url('tes_bold-.ttf') format('truetype'),
  url('tes_bold-.svg#tesbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background : url("http://i.imgur.com/1lPoAD0.png") !important;
  line-height: 1.5 !important;
  text-align: center !important;
  /*font-family: 'bebas_neueregular' !important;*/
  /*font-size: 50px;*/
  margin: 0 auto !important;
}
h4 {
  color: #b34d03 !important;
  font-family: 'tesbold' !important;
  font-size: 100px !important;
  padding-top: 50px !important;
  text-shadow: 2px -2px 1px #d5d5d5 !important;
  letter-spacing: -1px !important;
}
h4 .title {
  height: 120px !important;
  font-size: 140px !important;
}
h5 {
color: #43702d !important ;
margin-top: 20px !important;
font-size: 20px !important;
font-family: 'bebas_neueregular' !important;
}
.first_sub {
  color: #43702d !important ;
  margin-top: 20px !important;
  font-size: 35px !important;
  font-family: 'bebas_neueregular' !important;
  font-weight: bold !important;
  margin-bottom: 0px;
  margin: 0 auto;
  background-color: transparent !important;
}
.link {
  text-decoration: none !important;
  color: white !important;
}
table {
  margin: 0 auto !important;
}
th {
  font-family: Arial !important;
  font-size: 14px !important;
  color: white !important;
  text-align: center !important;
}
td {
  background-color: #e9e7e2 !important;
  color: #6064b2 !important;
  font-family: Arial !important;
  letter-spacing: 2px !important;
  text-align: center !important;
}
::selection {
  background:#46a119 !important;
  color:#555 !important;
}
.sub {
  font-family: 'cf_crayonsregular', sans-serif !important;
  font-size: 27px !important;
  color: white !important;
  opacity: .2 !important;
  /*margin-top: 5px !important;*/
  -webkit-transform: rotate(-2deg) !important;
  position: relative !important;
  margin-bottom: 40px !important;
  margin: 0 auto;
  background-color: transparent !important;
}
table {
  margin-top: 40px !important;
}
.headings h1 {
  margin-bottom: 40px !important;
}
.row h1{
  margin-bottom: 40px !important;
}
.row {
margin: 0 auto !important;
}
.small_label {
  color: white !important;
  letter-spacing: 3px !important;
  font-family: 'bebas_neueregular'!important;
  font-size: 25px !important;
  text-shadow: 2px 1px 3px #b34d03 !important;

}
.post_display {
  padding-top: 50px !important;
}
.login_style {
  background-color: #b34d03 !important;
}
.comment_label {
  color: white !important;
  letter-spacing: 3px;
  font-family: 'bebas_neueregular' !important;
  font-size: 18px !important;
}
.post_label {
  color: white !important;
  letter-spacing: 3px !important;
  font-family: 'bebas_neueregular' !important;
  font-size: 18px !important;
}
.notice {
  color: white !important;
  letter-spacing: 3px !important;
  font-family: 'bebas_neueregular';
  font-size: 18px !important;
  background-color: #b34d03 !important;
  height: 40px !important;
}
.simple_form label {
  color: white !important;
  font-size: 18px !important;
  letter-spacing: 3px;
  text-shadow: 2px 1px 3px #b34d03;
}
.field {
margin: 0 auto;
}
table {
background: transparent !important;
border: none !important;
}
table thead {
background: transparent !important;
}
/*td  {
background: transparent !important;
}*/

.post_display {
color: white;
}
.topbar_links {
text-align: center;
margin: 0 auto;
font-size: 30px;
font-family: 'bebas_neueregular' !important;
color: #43702d !important ;
}
.breadcrumbs {
background-color: #e3e3e3 !important;
border: none !important;
padding-left: 380px !important;
padding-top: 25px !important;
}
.text_field {
background-color: #43702d !important;
}
p {
color: #b34d03 !important;
font-family: sans-serif !important;
width: 50%;
margin-left: 350px !important;
}

.read_more {
font-family: 'tesbold' !important;
font-size: 20px;
letter-spacing: 2px;
color: #43702d !important;
text-transform: uppercase;
text-shadow: .5px 1px  #000 !important;
}
.post_display {
color: white !important;
}
