<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <% if logged_in? %>
        <a href="/"><h1 class="top_h1">Atrium</h1></a>
      <% else %>
        <a href="/login/new"><h1 class="top_h1">Atrium</h1></a>
      <% end %>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if logged_in? %>
        <li><a href="/accounts"><%= current_user.name %>'s Account</a></li>
        <li><%= link_to "Logout", "/login", :method => :delete %></li>
      <% else %>
        <li><%= link_to "Login", new_login_path %></li>
      <% end %>
    </ul>

    <!-- Left Nav Section -->
    <!-- <ul class="left">
      <li><a href="#">Lists</a></li>
      <li><a href="#">Todos</a></li>
    </ul> -->
  </section>
</nav>
