<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Atrium</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if logged_in? %>
        <li><a href="/lists">Lists</a></li>
        <li><a href="/todos">Todos</a></li>
        <li class="has-dropdown">
          <a href="#"><%= current_user.name %></a>
          <ul class="dropdown">
            <li><%= link_to "Logout", login_path, :method => :delete %></li>
            <!-- <li class="active"><a href="#">Active link in dropdown</a></li> -->
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Login", new_login_path %></li>
      <% end %>
    </ul>

    <!-- Left Nav Section -->
    <!-- <ul class="left">
      <li><a href="#">Lists</a></li>
      <li><a href="#">Todos</a></li>
    </ul> -->
  </section>
</nav>
